# Stellar DEX Mini Configuration
VITE_FACTORY_CONTRACT_ID=
VITE_POOL_CONTRACT_ID=
VITE_TOKEN_A_ID=
VITE_TOKEN_B_ID=
VITE_LP_TOKEN_ID=
VITE_RNDM_ISSUER_PUBLIC=
VITE_RNDM_ISSUER_SECRET=
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
